# JSON Data

In [14]:
import pandas as pd
import json

In [15]:
obj1 ={"Name":"Abdullah",
       "places_visited":['Khi','Jed','Dxb','Bahrain'],
       "pet":"null",
       "siblings":[{'name':'Tooba','age':10,'lived':['Khi','Jed']},{'name':"Hassan",'age':1.5,'lived':'Jed'}]
      }

In [16]:
obj ="""{"Name":"Abdullah",
       "places_visited":["Khi","Jed","Dxb","Bahrain"],
       "pet":null,
       "siblings":[{"name":"Tooba","age":10,"lived":["Khi","Jed"]},{"name":"Hassan","age":1.5,"lived":"Jed"}]
      }"""

In [17]:
print(type(obj),type(obj1))

<class 'str'> <class 'dict'>

In [18]:
result = json.loads(obj)
result

{'Name': 'Abdullah',
 'places_visited': ['Khi', 'Jed', 'Dxb', 'Bahrain'],
 'pet': None,
 'siblings': [{'name': 'Tooba', 'age': 10, 'lived': ['Khi', 'Jed']},
  {'name': 'Hassan', 'age': 1.5, 'lived': 'Jed'}]}

In [19]:
type(result)

dict

In [20]:
asjson = json.dumps(result)
asjson

'{"Name": "Abdullah", "places_visited": ["Khi", "Jed", "Dxb", "Bahrain"], "pet": null, "siblings": [{"name": "Tooba", "age": 10, "lived": ["Khi", "Jed"]}, {"name": "Hassan", "age": 1.5, "lived": "Jed"}]}'

In [21]:
type(asjson)

str

In [22]:
siblings = pd.DataFrame(result['siblings'],columns=['name','age'])
siblings

     name   age
0   Tooba  10.0
1  Hassan   1.5