In [1]:
print('pakistan zindabad','Tooba','Abdullah','Hassan',sep = '+', end = '\n\n')
print('pakistan zindabad','Tooba','Abdullah','Hassan',sep = '+', end = '\t ########')
print('pakistan zindabad','Tooba','Abdullah','Hassan',sep = '+')

pakistan zindabad+Tooba+Abdullah+Hassan

pakistan zindabad+Tooba+Abdullah+Hassan	 ########pakistan zindabad+Tooba+Abdullah+Hassan

In [2]:
a="23"
b="90"
print(a+" "+b)
print(f"{a} {b}")

23 90
23 90

In [3]:
name=input("what is your name: ")

what is your name: 1

In [4]:
a= int(input('A: '))
b= int(input('B: '))
print(a+b)

A: 1
B: 1
2

In [5]:
a = "zindabad"
print(f"Pakistan {a.title()}")

Pakistan Zindabad

In [6]:
fruits = ["mango", "cherry"]
print(fruits)

['mango', 'cherry']

In [7]:
fruits.count

In [8]:
len(fruits)

2

In [9]:
fruits.append('apple')

In [10]:
print(fruits)

['mango', 'cherry', 'apple']

In [11]:
fruits.count("a")

0

In [12]:
print(fruits)

['mango', 'cherry', 'apple']

In [13]:
dry_fruits = ["almod","kajo"]
print(dry_fruits)
fruits = fruits + dry_fruits
print(fruits)

['almod', 'kajo']
['mango', 'cherry', 'apple', 'almod', 'kajo']

In [14]:
len(fruits)

5

In [15]:
fruits[4]="pistacho"
print(fruits)

['mango', 'cherry', 'apple', 'almod', 'pistacho']

In [16]:
fruits.insert(5,"kiwi")
print(fruits)
len(fruits)

['mango', 'cherry', 'apple', 'almod', 'pistacho', 'kiwi']

6

In [17]:
fruits.remove("kiwi")
print(fruits)

['mango', 'cherry', 'apple', 'almod', 'pistacho']

In [18]:
new_fruit=fruits.copy()
fruits.insert(0,"test")
print(fruits)
print(new_fruit)

['test', 'mango', 'cherry', 'apple', 'almod', 'pistacho']
['mango', 'cherry', 'apple', 'almod', 'pistacho']

In [19]:
fr=fruits
fruits.insert(0,"test")
print(fruits)
print(fr)

['test', 'test', 'mango', 'cherry', 'apple', 'almod', 'pistacho']
['test', 'test', 'mango', 'cherry', 'apple', 'almod', 'pistacho']

In [20]:
fruits.extend(["blue berry","black berry"])
print(fruits)

['test', 'test', 'mango', 'cherry', 'apple', 'almod', 'pistacho', 'blue berry', 'black berry']

In [21]:
print(new_fruit)
new_fruit.clear()
print(new_fruit)

['mango', 'cherry', 'apple', 'almod', 'pistacho']
[]

In [22]:
print(fruits)
fruits.index("test") # return the index of first instance of the value

['test', 'test', 'mango', 'cherry', 'apple', 'almod', 'pistacho', 'blue berry', 'black berry']

0

In [23]:
initial_fruits = fruits[:3]
endding_fruits = fruits[6:]
mid_fruits = fruits[2:7:2]
print(f"full list :{fruits}")
print(f"0-3: {initial_fruits}")
print(f"6-last: {endding_fruits}")
print(f"3-6: {mid_fruits}")

full list :['test', 'test', 'mango', 'cherry', 'apple', 'almod', 'pistacho', 'blue berry', 'black berry']
0-3: ['test', 'test', 'mango']
6-last: ['pistacho', 'blue berry', 'black berry']
3-6: ['mango', 'apple', 'pistacho']

In [24]:
poped_fruits = []
print(fruits)
poped_fruits.extend([fruits.pop(5),fruits.pop(2)])
print(poped_fruits)
poped_fruits.insert(1,fruits.pop(4))
# poped_fruits = [initial_fruits.pop(1)+ mid_fruits.pop(1)+ endding_fruits(1)]
print(poped_fruits)

['test', 'test', 'mango', 'cherry', 'apple', 'almod', 'pistacho', 'blue berry', 'black berry']
['almod', 'mango']
['almod', 'pistacho', 'mango']

In [25]:
print(fruits)
fruits.reverse()
print(f"Reverse: {fruits}")
fruits.sort()
print(f"sort assending: {fruits}")
fruits.sort(reverse=True)
print(f"sort decending: {fruits}")

['test', 'test', 'cherry', 'apple', 'blue berry', 'black berry']
Reverse: ['black berry', 'blue berry', 'apple', 'cherry', 'test', 'test']
sort assending: ['apple', 'black berry', 'blue berry', 'cherry', 'test', 'test']
sort decending: ['test', 'test', 'cherry', 'blue berry', 'black berry', 'apple']

# Tupple

In [26]:
tup = ("apple", 500, 24.43)
print(tup)

('apple', 500, 24.43)

# LIST in a LIST

In [27]:
    l_l = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [28]:
for a in l_l:
    for b in a:
        print(b)

1
2
3
4
5
6
7
8
9

In [29]:
print(l_l[2][2])

9

In [30]:
print(l_l.index(1))

ValueError: 1 is not in list

# Delete duplicate values from list

In [39]:
a = [9,89,24,23,24,0,42,94,42,9,9,42,0]
unique =[]
for i in a:
    if i not in unique:
        unique.append(i)
print(a)
print(unique)

[9, 89, 24, 23, 24, 0, 42, 94, 42, 9, 9, 42, 0]
[9, 89, 24, 23, 0, 42, 94]

In [43]:
# set as data structure
data_setting=set(a)
data_setting

{0, 9, 23, 24, 42, 89, 94}

In [32]:
a = [9,89,23,24,0,42,94,42,9,9,42,0,42]
print(a)
a.sort()
print(a)
dup = []
val = []
b=""
ind = 0
for i in a:
    if b == i:
   # if b in i:
        print(f"{b} duplicate value: {i}")
        dup.append(ind)
        val.append(b)
       # a.remove(b)
    b=i
    ind += 1
    print(a.index(i), i)
print(a)
print(f"duplicate index {dup}")
print(f"duplicate value {val}")

[9, 89, 23, 24, 0, 42, 94, 42, 9, 9, 42, 0, 42]
[0, 0, 9, 9, 9, 23, 24, 42, 42, 42, 42, 89, 94]
0 0
0 duplicate value: 0
0 0
2 9
9 duplicate value: 9
2 9
9 duplicate value: 9
2 9
5 23
6 24
7 42
42 duplicate value: 42
7 42
42 duplicate value: 42
7 42
42 duplicate value: 42
7 42
11 89
12 94
[0, 0, 9, 9, 9, 23, 24, 42, 42, 42, 42, 89, 94]
duplicate index [1, 3, 4, 8, 9, 10]
duplicate value [0, 9, 9, 42, 42, 42]

# Unpacking a list

In [33]:
unpacking = [1,2,3]
x,y,z = unpacking
print(y)

2

# Min, Max, Sum

In [34]:
listing = [1,2,3,4,5,6,7,8,9,10,11]
print(max(listing))
print(min(listing))
print(sum(listing))
if 5 in listing:
    print("5 is in listing")
if 12 not in listing:
    print("12 not in the listing")
else:
        print("12 is in the list")

11
1
66
5 is in listing
12 not in the listing

# Slicing in Loop

In [35]:
for i in listing[:5]:
    print(i, end=" ")

1 2 3 4 5